<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <div>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div>
              <img class="img" src="https://picsum.photos/400/200" alt="image">              
            </div>
            <p>Some text</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ea sunt, ad itaque corrupti odio esse tempore, dicta magni consequuntur, quas suscipit eligendi! Impedit, numquam.</p>
          </ion-card-content>
        </ion-card>
      </div>
    <ion-button expand="block" routerLink="/home">Go to Home</ion-button>
  </div>

</ion-content>
